<div class="row g-3 mt-2 mb-2">
    <div class="col">
        <p>Reglamento</p>
        <input type="textarea" name="reglamento" id="reglamento" hidden>
        {{ include('torneo/textrich.html.twig') }}
        <div id="nombreFeedback" class="invalid-feedback">
            Reglamento del Torneo no puede estar vacío
        </div>
    </div>
</div>